<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="icon.jpg" type="image/x-icon" />
<title>预测性运维</title>
<style type="text/css">

.row {
    margin-top: 10px;
}

.container .col-md-6
  {
    padding-right: 5px;
    padding-left: 5px;
}

#predict_div.col-md-12
{
    padding-right: 5px;
    padding-left: 5px;
}

</style>

</head>
<body style="background-color:#ece5e6">
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/highcharts-more.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div id="main" class="container" style="background-color:#ece5e6;">
  <div class="row">
  <h3>水库预测性运维</h3>
  </div>
  <div class="row">
  <h4><strong>预测数据:</strong></h4>
  </div>
  <div class="row">
    <div id="predict_div" class="col-md-12"  style=""></div>
  </div>
  <div class="row">
   <h4><strong>IOT历史数据:</strong></h4>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div id="temperature">
      </div>
    </div>
    <div class="col-md-6">
      <div id="humidity">
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <div id="sound">
      </div>
    </div>
    <div class="col-md-6">
      <div id="pm">
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
            var namespace = '/socket';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket.emit('on_connect');
            socket.emit('on_message_predict');
            socket.emit('on_message_history');
            var chart_predict;
            //预测-定义图形
           chart_predict =  Highcharts.chart({
             chart: {
              renderTo: 'predict_div',
              defaultSeriesType: 'spline',
              events: {
                load: load_predict
                }
             },
            title: {
              text: '预测数据'
             },
            tooltip: {
              formatter: function() {
                return 'cycle:' + this.x + ', rul:' + this.y;
                 }
                },
            xAxis: {
             allowDecimals: false,
             title: {
                text: 'cycle'
              }

              },
            yAxis: {
              minPadding: 0.2,
              maxPadding: 0.2,
              title: {
                text: 'rul',
                margin: 20
              }
            },
            series: [{
              name: 'rul',
              data: [ ]
             }]
         });

//预测-绘图
chart_predict.showLoading();

//预测-数据加载
function load_predict(){
  socket.on('message_response_predict', function(msg) {
  chart_predict.hideLoading();
    chart_predict.series[0].addPoint([msg.cycle, msg.rul], true, false);
 })
}


 //温度图形绘制
temperature_chart= Highcharts.chart('temperature',{
        chart: {
            type: 'gauge',
            events: {
                load: load_temperature
                },
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: '温度测量仪'
        },
        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },
        // the value axis
        yAxis: {
            min: 0,
            max: 200,
            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',
            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: '℃'
            },
            plotBands: [{
                from: 0,
                to: 120,
                color: '#55BF3B' // green
            }, {
                from: 120,
                to: 160,
                color: '#DDDF0D' // yellow
            }, {
                from: 160,
                to: 200,
                color: '#DF5353' // red
            }]
        },
        series: [{
            name: 'Speed',
            data: [],
            tooltip: {
                valueSuffix: ' ℃'
            }
        }]
    });
	
	

//湿度图形绘制
humidity_chart= Highcharts.chart('humidity',{
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: '湿度测量仪'
        },
        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },
        // the value axis
        yAxis: {
            min: 0,
            max: 200,
            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',
            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: '%rh'
            },
            plotBands: [{
                from: 0,
                to: 120,
                color: '#55BF3B' // green
            }, {
                from: 120,
                to: 160,
                color: '#DDDF0D' // yellow
            }, {
                from: 160,
                to: 200,
                color: '#DF5353' // red
            }]
        },
        series: [{
            name: 'Speed',
            data: [],
            tooltip: {
                valueSuffix: ' %rh'
            }
        }]
    });

//噪音图形绘制
sound_chart= Highcharts.chart('sound',{
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: '噪音测量仪'
        },
        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },
        // the value axis
        yAxis: {
            min: 0,
            max: 200,
            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',
            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'db'
            },
            plotBands: [{
                from: 0,
                to: 120,
                color: '#55BF3B' // green
            }, {
                from: 120,
                to: 160,
                color: '#DDDF0D' // yellow
            }, {
                from: 160,
                to: 200,
                color: '#DF5353' // red
            }]
        },
        series: [{
            name: 'Speed',
            data: [],
            tooltip: {
                valueSuffix: ' db'
            }
        }]
    });
//PM2.5图形绘制
pm_chart= Highcharts.chart('pm',{
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'PM2.5测量仪'
        },
        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },
        // the value axis
        yAxis: {
            min: 0,
            max: 200,
            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',
            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'μg/m³'
            },
            plotBands: [{
                from: 0,
                to: 120,
                color: '#55BF3B' // green
            }, {
                from: 120,
                to: 160,
                color: '#DDDF0D' // yellow
            }, {
                from: 160,
                to: 200,
                color: '#DF5353' // red
            }]
        },
        series: [{
            name: 'Speed',
            data: [],
            tooltip: {
                valueSuffix: ' μg/m³'
            }
        }]
    });
	//加载数据
	function load_temperature(){
		socket.on('message_response_history', function(msg) {
			temperature_chart.series[0].update({data:[msg.temperature]});
			humidity_chart.series[0].update({data:[msg.humidity]});
			sound_chart.series[0].update({data:[msg.sound]});
			pm_chart.series[0].update({data:[msg.pm]});
		})
	}
   //on close page.
  $(window).on("beforeunload", function() {
    socket.emit('on_disconnect');
})

});

</script>
</body>
</html>
